.hero {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));

	padding: 0 4rem;
}

.hero_description {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding-bottom: 2rem;
	gap: 2rem;
}

.hero_title {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.hero_text {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.hero_ctas {
	gap: 2rem;
	display: flex;
}

.hero_text h1 {
	color: var(--primary-color);
	font-weight: var(--w-bold-subtitle);
	word-wrap: break-word;
	text-overflow: ellipsis;
}

.hero_text h1 span {
	display: block;
	font-size: var(--fs-xxl);
	font-weight: var(--w-bold-title);
	word-wrap: break-word;
}

.hero_text p {
	color: var(--primary-color);
	font-weight: var(--w-paragraph);
	font-size: var(--fs-md);
	word-wrap: break-word;
}

.hero_image {
	position: relative;
}

.hero_image img {
	mask-image: linear-gradient(black 90%, transparent);
}

.hero_image div {
	position: absolute;
	bottom: 2rem;
	right: 0;
	border-left: 3px solid var(--primary-color);
	padding-left: 1rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	align-items: center;
}

.hero_image div p {
	width: 17rem;
	font-size: var(--fs-base);
	color: var(--primary-color);
	font-weight: var(--w-bold-subtitle);
}

.hero_image div img {
	width: 17rem;
}

@media only screen and (max-width: 580px) {
	.hero {
		padding: 0 1rem;
		grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
	}

	.hero_image div {
		right: 50%;
		transform: translate(50%);
	}

	.hero_title {
		text-align: center;
	}

	.hero_ctas {
		justify-content: center;
	}
}
