.container {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	padding: 2rem;
}

.containerText {
	background-color: var(--primary-color);
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.closeicon {
	color: var(--generic-color);
	position: absolute;
	top: 0;
	right: 0;
	padding: 1.5rem;
}

.titleContainer {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.titleContainer p {
	color: var(--generic-color);
	font-size: var(--fs-lg);
	font-weight: var(--w-bold-title);
}

.titleContainer a {
	/* text-decoration: none; */
	color: var(--dashboard-chasis-color);
}
